body {
    background-color: #8c52ff;
    height: 500px;
    margin: 5%;
}

#contenedor {
    width: 970px;
    background-color: #ffffff;
   
    margin: 0 auto;
    padding: 25px;
    height: 100%;

}

#header {
    text-align:center
}

#header h1 {
    font-family: 'Kanit', sans-serif;
    padding-inline: 20%;
}

#header ul li {
    padding: 8px;
    
}

#header ul li a {
    text-decoration: none;
    background-color: #8c52ff;
    padding: 8px;

    color: #ffffff 
    

}

#header ul li a:hover {
    background-color: #5ce1e6;
    text-decoration: underline;

}

#Laboratorios {
    text-align: center;
    background-color: #ffffff;
    height: 500px;
    margin: 5%;


}

#Laboratorios h1 {
    font-family: 'Kanit', sans-serif;
    padding-inline: 20%;
}

#Laboratorios ul li {
    padding: 8px;
}



#Laboratorios ul li a {
    text-decoration: none;
    background-color: #8c52ff;
    padding: 8px;
    color: #ffffff 

}

#Laboratorios ul li a:hover {
    background-color: #5ce1e6;
    text-decoration: underline;
}

#Proyectos {
    text-align: center;
    background-color: #ffffff;
    height: 500px;
    margin: 5%;


}

#Proyectos h1 {
    font-family: 'Kanit', sans-serif;
    padding-inline: 20%;
}

#Proyectos ul li {
    padding: 8px;
}



#Proyectos ul li a {
    text-decoration: none;
    background-color: #8c52ff;
    padding: 8px;
    color: #ffffff 

}

#Proyectos ul li a:hover {
    background-color: #5ce1e6;
    text-decoration: underline;
}